.banner_image {
    padding-top: 75px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background: url("../images/intro-bg_1.jpg") no-repeat center center;
    background-size: cover;
}

.banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

.inner-banner-image {
    padding-top: 10%;
    width: 80%;
    margin: auto;
}

footer {
    padding: 10px 0;
    background-color: #000000;
    color: #9d9d9d;
    bottom: 0;
    width: 100%;
    position: fixed;
}